
h1{
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 20px;  
}
input{
   margin-top: 10px;
   font-size: 25px;
   margin: 0px 10px;
   border: 1px solid black;
   color: black;
}
.kg-button{
 width: 100px;
  font-size: 20px;
  margin: 5px;
}
.kg-row{
    padding-top: 10px;
    border: 1px solid black;
}