
 input {
   margin-top: 10px;
   font-size: 25px;
   margin: 0px 10px;
   border: 2px solid black;
   padding: 0px 10px;
   color: black;
   height: 40px;
}
.kg-button{
 width: 100px;
  font-size: 20px;
  margin: 5px;
}
.kg-row{
    font-size: 20px;

}